@import "fonts";

$cyan      : #02cb94;
$green     : #20AE09;
$red       : #AA1B1B;
$indigo    : #003C7C;
$maroon    : #B3474A;
$yellow    : #FEDE4D;
$purple    : purple;
$pink      : #F21C5D;
$brown     : #C29872;
$lightpink : #FCB3B3;
$lightgreen: #85BE7A;

$primary: $indigo;

$red-dark: #923637;

$gray-400: #5e5e5e;

$font-family-base  : 'IRANSans';
$font-size-base    : .8rem;
$font-weight-base  : $font-weight-medium;
$font-weight-bold  : 800;
$font-weight-bolder: 900;
$line-height-base  : 2;

$headings-line-height: 1.7;

$text-shadow      : 0px 2px 3px rgba(black, .9);
$text-shadow-light: 0px 2px 3px rgba(white, .9);

$theme-colors: ("red": $red,
    "yellow": $yellow,
    "indigo": $indigo,
    "green": $green,
    "purple": $purple,
    "brown": $brown,
    "lightgreen": $lightgreen,
);

$border-radius: 10px;

$input-placeholder-color: #DEDEDE;


@import "bootstrap";

html {
    scroll-behavior: smooth;
}

.page-full {
    position           : relative;
    min-height         : 100vh;
    overflow           : hidden;
    background-size    : cover;
    background-position: center center;

    &::before {
        content         : "";
        position        : absolute;
        top             : 0;
        right           : 0;
        width           : 100%;
        height          : 100%;
        background-color: rgba($indigo, .8);
    }
}

.rounded-pill-right {
    border-top-right-radius   : 1000px;
    border-bottom-right-radius: 1000px;
}

.rounded-pill-left {
    border-top-left-radius   : 1000px;
    border-bottom-left-radius: 1000px;
}

.text-shadow {
    text-shadow: $text-shadow;
}

.text-shadow-light {
    text-shadow: $text-shadow-light;
}

.font-size-lg {
    font-size: 1.5rem;
}

h1 {
    font-size  : (24rem/16);
    font-weight: 800;
}

h2 {
    font-weight: normal;
}

.h3 {
    font-size: (18rem/16);
}

.h4 {
    font-size: (16rem/16);
}

.jump-to-top {
    position        : fixed;
    right           : 20px;
    bottom          : -50px;
    background-color: #fff;
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    box-shadow      : $box-shadow;
    transition      : bottom .3s ease;

    &.active {
        bottom: 70px;
    }

    .jump-to-top-arrow {
        display     : block;
        position    : relative;
        top         : 20px;
        right       : 17px;
        width       : 15px;
        height      : 15px;
        transform   : rotate(-45deg);
        border-right: 2px solid black;
        border-top  : 2px solid black;
    }
}

.section-1 {
    position  : relative;
    background: #fff url('../image/intro-bg.png') top center/550px auto scroll no-repeat;

    .stamp {
        background : transparent url('../image/stamp-back.png') center center/100% 100% no-repeat;
        padding    : 5px 10px;
        position   : absolute;
        top        : 15px;
        right      : 100%;
        white-space: nowrap;
        color      : #ECFC03;
        transform  : rotate(-20deg);
    }

    .logo {
        position   : relative;
        padding-top: 25px;

        img {
            height       : 50px;
            margin-bottom: 10px;
        }
    }

    .lead {
        font-size: 12px;
    }

    .burst-container {
        display    : inline-block;
        background : #FFC107;
        width      : 100px;
        height     : 100px;
        position   : relative;
        text-align : center;
        margin-top : 20px;
        margin-left: 20px;
        color      : black;
        font-size  : 12px;

        &:before,
        &:after {
            content   : "";
            position  : absolute;
            top       : 0;
            left      : 0;
            height    : 100px;
            width     : 100px;
            background: #FFC107;
        }

        &:before {
            transform: rotate(30deg);
        }

        &:after {
            transform: rotate(60deg);
        }

        p {
            position: relative;
            z-index : 5;
        }
    }

    ul {
        padding-right: 20px;

        li {
            color: black;

            &::before {
                content         : "";
                display         : inline-block;
                width           : 10px;
                height          : 10px;
                border-radius   : 50%;
                margin-left     : 5px;
                background-color: #1BAA4A;
            }

            &:nth-child(3n+2)::before {
                background-color: #003C7C;
            }

            &:nth-child(3n+3)::before {
                background-color: #AA1B1B;
            }
        }
    }

    .content {
        z-index: 10;
        position: relative;
    }

    &::before {
        position  : absolute;
        content   : "";
        background: transparent url('../image/bg-cloud.png') center bottom/100% auto no-repeat;
        display   : block;
        bottom    : -50px;
        right     : 50%;
        width     : 100%;
        top       : 0;
        opacity   : 0.7;
        transform : translateX(50%);
    }

    &::after {
        position  : absolute;
        content   : "";
        background: transparent url('../image/bg-cloud-2.png') center bottom/contain no-repeat;
        display   : block;
        bottom    : -50px;
        right     : 50%;
        min-width : 150px;
        width     : 30%;
        height    : 200px;
        opacity   : 0.9;
        transform : translateX(50%);
    }
}

.main-footer,
.section-3 {
    background: #8FC7FF linear-gradient(to bottom, #EBFBFF, #8FC7FF);
    border    : 7px solid #0B467E;
    font-size : 16px;

    small {
        font-size: 11px;
    }

    p {
        small {
            white-space: nowrap;
        }
    }
}

.video-container {
    background: transparent url('../image/monitor.png') center center/100% 100% no-repeat;
    position  : relative;

    .video {
        padding: 5% 3% 16% 3%;
    }
}

.section-5 {
    background-color: #AAD6FF;

    .item {
        font-size  : 16px;
        font-weight: $font-weight-bold;

        &::before {
            content      : "";
            display      : inline-block;
            width        : 13px;
            height       : 13px;
            margin-left  : 4px;
            background   : #1BAA4A;
            border-radius: 50%;
        }

        &.item-2::before {
            background: #003C7C;
        }

        &.item-3::before {
            background: #AA1B1B;
        }
    }
}

.section-6 {
    background: #E7F2FF url('../image/bg-side.png') right bottom/auto no-repeat;

    .item {
        font-size: 14px;

        &::before {
            content       : "";
            display       : inline-block;
            margin-left   : 5px;
            width         : 15px;
            height        : 15px;
            background    : transparent url('../image/checked.png') center center/auto no-repeat;
            vertical-align: middle;
        }
    }
}

.section-7 {
    background-color: #0988CA;
    position        : relative;
    color           : $white;
    font-size       : 17px;

    &::before {
        content         : "";
        position        : absolute;
        // bottom: 100%;
        top             : 0;
        right           : 0;
        width           : 100%;
        height          : 60px;
        background-color: #E7F2FF;
        clip-path       : polygon(0 0, 0 100%, 100% 0);
    }

    &::after {
        content         : "";
        position        : absolute;
        bottom          : 0;
        right           : 0;
        width           : 100%;
        height          : 60px;
        background-color: #fff;
        clip-path       : polygon(0 100%, 100% 0, 100% 100%);
    }

    .highlight {
        color: #06d788;
    }
}

.section-8 {
    position: relative;
}

.section-10 {
    background: url('../image/bg-splash-left.png') left 30%/auto 350px no-repeat,
        url('../image/bg-splash-right.png') right 60%/auto 300px no-repeat;

    .features {
        font-size: 11px;
    }
}

.main-footer {
    font-size  : 17px;
    font-weight: $font-weight-bold;

    .logo {
        height: 40px;
    }

    small {
        font-size: 11px;
    }
}